.body {
    background-color: aliceblue;
    object-fit: cover;
}

.quadro {
    justify-content: center;
    margin: auto;
    max-width: 500px;
    min-height: 500px;
    align-content:500px;
    height: auto;
    padding: 50px;
    background-color: aqua;
}